<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Prediction</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="splash">
        <div class="icon">
          <a
            href="https://www.flaticon.com/free-animated-icons/climate-change"
            title="climate-change animated icons"
          >
            <img src="/img/icon.gif" alt="logo"
          /></a>
        </div>
        <h1>WEATHER WEB</h1>
      </div>
    <main class="container">
        <div class="left">
            <div class="logo">
                <h1>WM</h1>
            </div>
            <div class="conditions">
                
                <div class="temp">
                    <p><%- data.current.temp_c %>°</p>
                </div>
                <div class="place">
                    <p><%- data.location.name %></p>
                    <div class="currentDateTime">
                        <p>Wednesday, 10:00, 9 sept'24</p>
                    </div>
                </div>
                <div class="condition">
                    <i class='bx bx-cloud'></i>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="details-conditions">
                <div class="search-bar">
                    <form action="/search" method="get">
                        <input type="text" placeholder="Search..." name="location">
                    </form>
                </div>
                <div class="title">
                    <h1>Weather Details</h1>
                <h2><%- data.current.condition.text %></h2>
                </div>
                <div class="details">
                    <div class="detail-text">
                        <h1>Temp Max</h1>
                        <h1>Temp Min</h1>
                        <h1>Humidity</h1>
                        <h1>Cloudy</h1>
                        <h1>Wind</h1>
                    </div>
                    <div class="detail-icon">
                        <h1><%- data.current.temp_c %>°C <span><i class='bx bxs-thermometer'></i></span></h1>
                        <p><%- data.current.temp_f %>°C <span class="low-temp"><i class='bx bxs-thermometer'></i></span></p>
                        <h1><%- data.current.humidity %> % <i class='bx bx-droplet'></i></h1>
                        <h1><%- data.current.cloud %> % <i class='bx bx-cloud' ></i></h1>
                        <h1><%- data.current.wind_kph %> k/h <i class='bx bx-wind'></i></h1>
                    </div>
                </div>
                <div class="forecast">
                    <h1>Weather Forecast</h1>
                    <div class="cards">
                        <div class="card">
                            <div class="days">
                                <div class="day"><h1>Today</h1></div>
                                <div class="icon-weather"><i class='bx bx-cloud' ></i></div>
                                <div class="weather"><h1>Rainy</h1></div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="days">
                                <div class="day"><h1>Today</h1></div>
                                <div class="icon-weather"><i class='bx bx-cloud' ></i></div>
                                <div class="weather"><h1>Rainy</h1></div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="days">
                                <div class="day"><h1>Today</h1></div>
                                <div class="icon-weather"><i class='bx bx-cloud' ></i></div>
                                <div class="weather"><h1>Rainy</h1></div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="days">
                                <div class="day"><h1>Today</h1></div>
                                <div class="icon-weather"><i class='bx bx-cloud' ></i></div>
                                <div class="weather"><h1>Rainy</h1></div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="days">
                                <div class="day"><h1>Today</h1></div>
                                <div class="icon-weather"><i class='bx bx-cloud' ></i></div>
                                <div class="weather"><h1>Rainy</h1></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
