<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Prediction</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!-- <div class="splash">
        <div class="icon">
          <a
            href="https://www.flaticon.com/free-animated-icons/climate-change"
            title="climate-change animated icons"
          >
            <img src="/img/icon.gif" alt="logo"
          /></a>
        </div>
        <h1>WEATHER WEB</h1>
      </div> -->
    <main class="container">
        <div class="left">
            <div class="logo">
                <h1>WM</h1>
            </div>
            <div class="conditions">
                
                <div class="temp">
                    <p><%- data.suhu %>°</p>
                </div>
                <div class="place">
                    <p><%- data.prediksiCuaca %></p>
                    <div class="currentDateTime">
                        <p><%- today %>, <%- tgl %> - <%- month %> - <%- year %></p>
                    </div>
                    
                </div>
                <div class="condition">
                    <i class='<%- data.icon %>'></i>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="details-conditions">
                <div class="logout-btn">
                    <a href='javascript:void(0)' onclick="logout()">Logout</a>
                </div>
                
                <div class="title">
                    <h1>Weather Details</h1>
                <h2><%- data.prediksiCuaca %></h2>
                </div>
                <div class="details">
                    <div class="detail-text">
                        <h1>Suhu</h1>
                        <h1>Kelembaban</h1>
                        <h1>Kecepatan Angin</h1>
                        <h1>Lama Penyinaran</h1>
                    </div>
                    <div class="detail-icon">
                        <h1><%- data.suhu %>° <span><i class='bx bxs-thermometer'></i></span></h1>
                        <h1><%- data.kelembaban %> % <i class='bx bx-droplet'></i></h1>
                        <h1><%- data.kecepatanAngin%> Knot <i class='bx bx-wind' ></i></h1>
                        <h1><%- data.lamaPenyinaran %>% <i class='bx bxs-sun'></i></h1>
                    </div>
                </div>
                <div class="forecast">
                    <h1>Prediction History</h1>
                    <div class="cards">
                        <div class="card">
        
                                <div class="day"><h1>07-11-2024</h1></div>
                                <div class="icon-weather"><i class='bx bx-cloud' ></i> <span>Rainy</span></div>
         
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/script.js"></script>

</body>
</html>
